# Configuración del Entorno
ENV=production
DEBUG=false

# Proveedores de IA y LLMs
GROQ_API_KEY=tu_clave_secreta_de_groq_aqui

# Configuración de Base de Datos
POSTGRES_USER=admin
POSTGRES_PASSWORD=tu_password_aqui
POSTGRES_DB=invoice_engine_db
DATABASE_URL=postgresql://admin:tu_password_aqui@db:5432/invoice_engine_db